GOOGLE_SHEETS_ID=seu_id_da_planilha_aqui
GOOGLE_SERVICE_ACCOUNT_EMAIL=seu_email_de_servico@projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"
PORT=3000
